body{

}


.section:nth-child(2){
    background-color:green;
    color:white;
    width: 0 auto;
    height: 736px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }



#intro{
  padding-top:300px;
}

.section:nth-child(3){
   background-color: darkgrey;
}