body{
    margin: 0 auto;
    font-family: sans-serif;
    background: #f2f2f2;
    font-size: 20px;
}


.section{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 25%;
    

}

.section:nth-child(2){
    background: url(https://images.unsplash.com/photo-1548031061-76f86064a5ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80)
    

}

.section:nth-child(3){
    background-color:white;
    

}

.section:nth-child(4){
    background: #1E1E20;
    display: flex;
    flex-wrap: wrap;
   
    

}

.section:nth-child(5){
    background-color:blue;

}
/* Project Gallery CSS */

img {
    width: 100%; /* need to overwrite inline dimensions */
    height: auto;
  }
  h2 {
    margin-bottom: .5em;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
  }
  
  
  /* hover styles */
  .location-listing {
    position: relative;
  }
  
  .project-image {
    line-height: 0;
    overflow: hidden;
  }
  
  .project-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }
  
  .project-titles {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgb(1, 21, 255, 0.5);
    color: white;
    
    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .location-listing:hover .project-titles {
    opacity: 1;
  }
  
  .location-listing:hover .project-image img {
    filter: blur(2px);
  }
  
  
  /* for touch screen devices */
  @media (hover: none) { 
    .project-titles {
      opacity: 1;
    }
    .project-image img {
      filter: blur(2px);
    }
  }

  .child-page-listing{
      margin: auto 10%;
  }
  
  .child-page-listing h2{
      text-align: center;
      padding: 20px;
  }

  .child-page-listing a{
      text-decoration: none;
      color: white;
  }

/* About me section */


  #about-me-card{
      background-color: white;
      width: 0 auto;
      color: black;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 10%;
      width: 50%;
      
      
      
}

.about-me-info h3, section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#about-me-card img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
   
}

/* Contant Section Styling */

.section form{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
  padding: 10%;
}